body {
    margin: 0;
  }

div{
height: auto;
margin: auto;
border: 1px solid green;
}

h2{
    margin: 0px;
    padding: 0px;
    mix-blend-mode: difference;
}



.svg_class{
    background-image: url(randomcircles.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: aliceblue;
    width: 50vw;
    height: 50vh;
    fill: orange;
    border: 1px solid black;
}



.img_svg_class{
    width: 50vw;
    height: 50vh;
    fill: orange;
    background-color: cyan;
    border: 1px solid red;
}

.img_svg_class circle{
    fill: orange;
    border: 1px solid cyan;

}

.inline_svg_class circle{
    fill: purple;
    border: 1px solid green;
}


.img_svg_class circle{
    fill: greenyellow;
    border: 1px solid purple;
}


rect {
    fill: #ff0000; /* changes the color to red */
    border: 1px solid blue;
  }
  