

body, html{
    height: 100%;
    padding: 0;
    margin: 0;
    max-height: 1000px;

}


body{
    font-family: "Lobster", cursive;
    max-height: 800px;
    max-width: 600px;
}

/* Move box with translate */
.box{
    width: 50px;
    height: 50px;
    border: 10px solid black;
    margin: 50px auto;
    /* transform: translate(100px, 100px); */
    /* transform: rotate(45deg); */
    /* transform: scale(1.5); */
    /* transform: skew(20deg, 20deg); */
    /* transform: skewX(20deg); */
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
    animation-name: slideMe;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: black;
}

@keyframes slideMe{

        0%{
            top: 0;
            left: 0;
        }
        25%{
            background-color: blue;
            top: 0;
            left: 90%;
        }
        50%{
            top: 90%;
            left: 90%;      
        }
        75%{
            top: 90%;
            left: 0;      
        }
        100%{
            top: 0;
            left: 0;   
        }
}