*{
    box-sizing: border-box;
}

/* Flex container */
#container {
    display: flex;
    flex-wrap: wrap;
}

/* All divs within flex container*/
#container div {
    border-bottom: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

/* Header will have a flex basis of 100% to take up one whole column at all times*/
.header{
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: row;
    background-color: #f5f5f5;
    padding: 20px;
}

.navigation{
    flex-basis: 20%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: row;
}

.content{
    flex-basis: 80%;
    flex-grow: 3;
    flex-shrink: 0;
    flex-direction: row;
}



