
*{
    box-sizing: border-box;
}

body{
    background-color: white;
    padding: 0 ;
    margin: 0;
}
/* @media(max-width: 640px){

    body{
        background-color: red;

    }

} */

#layout{
    display: flex;
    flex-wrap: wrap;

}

#nav{
    flex-basis: 100%;
    border-bottom: 1px solid #aaa;
padding: 20px;
}

#sidebar{
    flex-basis: 20%;
    border-bottom: 1px solid #aaa;
padding: 20px;
}

#content{
    flex-basis: 80%;
    border-bottom: 1px solid #aaa;
padding: 20px;
}


@media(max-width: 640px){

    #sidebar{
        flex-basis: 100%;
        border-bottom: 1px solid #aaa;
    padding: 20px;
    }

    #content{
        flex-basis: 100%;
        border-bottom: 1px solid #aaa;
    padding: 20px;
    }

}

@media(max-width: 475px){

    #sidebar{
display: none;
    }



}