body {
    background-color: darkviolet;
    margin: 2%;
    text-align: center;
    display: block;
     }

h1 {
color: black;
/*
position: fixed;
top: 0;
*/}

p {
color: yellow;
border: 1px solid black;
}

hr{
color: yellow;


}


/*
img{
    max-width: 100%;
    height: auto;

    
    backdrop-filter: blur(2px);
    backdrop-filter: brightness(60%);
    backdrop-filter: contrast(40%);
    backdrop-filter: drop-shadow(4px 4px 10px blue);
    backdrop-filter: grayscale(30%);
    backdrop-filter: hue-rotate(120deg);
    backdrop-filter: invert(70%);
    backdrop-filter: opacity(20%);
    backdrop-filter: sepia(90%);
    backdrop-filter: saturate(80%);
    
}
*/



div.background_invert {
    background: lightblue url(balloon_big.jpg) no-repeat center;
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
    max-height: auto;
    max-width: 100%;
  }

div.transbox_invert {
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: invert(85%);
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 200px;
    margin-bottom: 200px;
    font-weight: bold;
    width: 100%;
    text-align: center;
  }


div.background_opacity {
    background: lightblue url(balloon_big.jpg) no-repeat center;
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
    max-height: auto;
    max-width: 100%;
  }

div.transbox_opacity {
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: opacity(20%);
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 200px;
    margin-bottom: 200px;
    font-weight: bold;
    width: 100%;
    text-align: center;
  }


div.background_sepia {
  background: lightblue url(balloon_big.jpg) no-repeat center;
  background-size: cover;
  align-items: center;
  display: flex;
  justify-content: center;
  max-height: auto;
  max-width: 100%;
}

div.transbox_sepia {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: sepia(90%);
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 200px;
  margin-bottom: 200px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}


div.background_dropshadow {
  background-size: cover;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 100px;
  background-color: black;
}

.img_dropshadow {
  -webkit-filter: drop-shadow(100px 30px 30px aliceblue);;
  width: 450px; 
  height: 450px;
}


div.background_saturate {
  background: lightblue url(balloon_big.jpg) no-repeat center;
  background-size: cover;
  align-items: center;
  display: flex;
  justify-content: center;
  max-height: auto;
  max-width: 100%;
}

div.transbox_saturate {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: saturate(20%);
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 200px;
  margin-bottom: 200px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}


div.background_brightness {
  background: lightblue url(balloon_big.jpg) no-repeat center;
  background-size: cover;
  align-items: center;
  display: flex;
  justify-content: center;
  max-height: auto;
  max-width: 100%;
}

div.transbox_brightness {
  background-color: rgb(241, 238, 14, 0.1);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: brightness(30%);
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 200px;
  margin-bottom: 200px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}


div.background_blur {
  background: lightblue url(balloon_big.jpg) no-repeat center;
  background-size: cover;
  align-items: center;
  display: flex;
  justify-content: center;
  max-height: auto;
  min-height: 800px;
  max-width: 100%;
}

div.transbox_blur {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid black;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(3px);
  padding-top: 50px;
  margin-top: 25%;
  margin-bottom: 25%;
  height: 100px;
  width: 100%;
  font-weight: bold;
}


div.background_huerotate {
  background: lightblue url(balloon_big.jpg) no-repeat center;
  background-size: cover;
  align-items: center;
  display: flex;
  justify-content: center;
  max-height: auto;
  max-width: 100%;
}

div.transbox_huerotate {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: hue-rotate(180deg);
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 200px;
  margin-bottom: 200px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}